* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: white;
}

.header {
    text-align: center;
    margin-top: 100px;
}

.user-input {
    text-align: center;
    margin: 20px auto;
}

.input-block {
    background: #E9E9E9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.input-prompt {
    text-align: left;
    margin-bottom: 5px;
}

.button {
    text-align: center;
    background: #7FBBFF;
    color: #1347AE;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 17px;
    transition: 0.3s;
    height: 27px;
    width: 120px;
    text-decoration: none;
    line-height: 27px;
    cursor: pointer;
}

.button:hover {
    background: #4778DB;
    color: white;
}

.link {
    text-align: center;
    text-decoration: underline;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}

.link:hover {
    color: #4778DB;
    transition: 0.3s;
}