* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: white;
}

.header {
    text-align: center;
    margin-top: 100px;
}

.user-input {
    text-align: center;
    margin: 20px auto;
}

.input-block {
    background: #E9E9E9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.input-prompt {
    text-align: left;
    margin-bottom: 5px;
}

.button {
    text-align: center;
    background: #7FBBFF;
    color: #1347AE;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 17px;
    transition: 0.3s;
    height: 27px;
    width: 120px;
    text-decoration: none;
    line-height: 27px;
    cursor: pointer;
}

.button:hover {
    background: #4778DB;
    color: white;
}

.link {
    text-align: center;
    text-decoration: underline;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}

.link:hover {
    color: #4778DB;
    transition: 0.3s;
}

.burger-menu {
    display: block;
    align-items: left;
    height: 100px;
    background-color: #7FBBFF;
    color: black;
    padding: 10px;
}

.burger-icon {
    cursor: pointer;
    flex-direction: column;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

  /* Media query to show/hide burger icon based on screen size */
@media only screen and (max-width: 600px) {
    .burger-icon {
        display: flex;
    }

    .menu-items {
        display: none; /* Initially hide the menu items on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #333;
        padding: 10px;
    }

    .menu-items.show {
        display: flex;
    }

    .menu-item {
        margin-bottom: 10px;
        text-align: center;
    }

    .burger-icon:hover span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-icon:hover span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon:hover span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}